## Puerto del servidor
PORT=3001

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=admin
DB_DATABASE=synap

# Entorno
NODE_ENV=development

# URL del frontend (para CORS)
FRONTEND_URL=http://localhost:3000

# JWT Secret (cambiar en producción)
JWT_SECRET=secret-key-synap-2024
